name: release

on:
  push:
    tags:
      - '*'

jobs:
  tagged-release:
    runs-on: ubuntu-latest
    steps:
    - name: Set commit tag
      run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
    - uses: actions/checkout@v2
    - name: Install Dependencies
      run: |
        sudo apt-cache search libxcb
        sudo apt-get update && sudo apt-get install -y libopencv-dev libxcb-icccm4 libxcb-image0 libxcb-keysyms1 libxcb-randr0 libxcb-render-util0 libxcb-xinerama0 python3 python3-dev python3-pybind11
    - name: Cache Qt
      id: cache-qt
      uses: actions/cache@v1
      with:
        path: ${{ github.workspace }}/Qt
        key: ${{ runner.os }}-QtCache
    - name: Install Qt
      uses: jurplel/install-qt-action@v2
      with:
        version: '5.15.2'
        host: 'linux'
        target: 'desktop'
        dir: '${{ github.workspace }}'
        install-deps: 'true'
        cached: ${{ steps.cache-qt.outputs.cache-hit }}
        tools: 'tools_ifw,4.0,qt.tools.ifw.40 tools_qtcreator,4.13.2-0,qt.tools.qtcreator'
        tools-only: 'false'
        aqtversion: '==0.11.1'
        py7zrversion: '==0.11.3'
    - name: Create build folder
      run: mkdir -p ./build/release
    - name: qmake & make
      working-directory: ./build/release
      run: |
        qmake CONFIG+="Release" ../../6d-pat.pro
        make -j8
    - name: Create appdir
      run: mkdir appdir
    - name: Copy executable and icon
      run: |
        cp ./build/release/src/6DPAT appdir & cp ./src/resources/images/icon.png appdir
        mv appdir/icon.png appdir/6DPAT.png
    - name: Create desktop file
      run: |
        echo $'[Desktop Entry]\nType=Application\nName=6DPAT\nExec=6DPAT\nIcon=6DPAT\nCategories=Utility;Application;' > 6DPAT.desktop
        mv 6DPAT.desktop appdir/6DPAT.desktop
        ls
        ls appdir
    - name: Run linuxdeployqt
      run: |
        wget https://github.com/probonopd/linuxdeployqt/releases/download/5/linuxdeployqt-5-x86_64.AppImage
        chmod +x linuxdeployqt-5-x86_64.AppImage
        ./linuxdeployqt-5-x86_64.AppImage appdir/6DPAT -extra-plugins=renderers
    - name: Run appimagetool
      run: |
        wget https://github.com/AppImage/AppImageKit/releases/download/12/appimagetool-x86_64.AppImage
        chmod +x appimagetool-x86_64.AppImage
        ./appimagetool-x86_64.AppImage appdir
    - uses: "marvinpinto/action-automatic-releases@latest"
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        prerelease: false
        automatic_release_tag: "latest"
        files: |
          LICENSE
          README.md
          6DPAT-x86_64.AppImage
    - uses: "marvinpinto/action-automatic-releases@latest"
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        prerelease: false
        automatic_release_tag: ${{ env.RELEASE_VERSION }}
        files: |
          LICENSE
          README.md
          6DPAT-x86_64.AppImage
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Set commit tag
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name: Print info
        run: |
             echo "Building docker for tag:"
             echo ${{ env.RELEASE_VERSION }}
      - uses: actions/checkout@v2
        name: Check out code
        with:
          ref: refs/tags/${{ env.RELEASE_VERSION }}
      - uses: mr-smithers-excellent/docker-build-push@v5
        name: Build & push Docker image
        with:
          image: florianblume/6dpat
          tags: ${{ env.RELEASE_VERSION }}, latest
          registry: docker.com
          dockerfile: docker/Dockerfile
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
